*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*This defines what 1rem is*/
  font-size: 62.5%;  /*10px wanted, 16px default size so 62.5%*/
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  background: white;
  cursor: pointer;
}

.main-container {
  width: 50%;
  min-width: 960px;
  margin: 100px auto;
  text-align: center;
}

.books-container {
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  overflow: hidden;
}

.book {
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  text-align: center;
}

.book button {
  margin: 0 5px;
}

.newbook__checkbox {
  display: none;
}

.newbook__button {
  background-color: rgb(245,25,255);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
  text-align: center;
  cursor: pointer;
}

.newbook__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(rgb(75,25,255), pink);
  z-index: 1000;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.newbook__form-container {
  height: 100vh;
  position: fixed;
  top: 15rem;
  left: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.newbook__form {
  display: inline-block;
  border-radius: 4px;
  text-align: left;
  background-color: rgb(248,248,248);
  padding: 5rem 4rem 5rem 10rem;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.35);
}

.newbook__form-header {
  color: rgba(75,25,255,.8);
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: .4rem;
}

.newbook__form-input {
  border: none;
  color: rgba(0,0,0,.6);
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  border-bottom: 3px solid transparent;
  transition: all .3s;
}

.newbook__form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(rgba(0,0,0,.6), .1);
  border-bottom: 3px solid rgb(75,25,255);
}

.newbook__form-input:focus:invalid {
  border-bottom: 3px solid rgba(255,50,180,.9);
}

.newbook__form-input::-webkit-input-placeholder {
  color: rgba(0,0,0,.4);
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.newbook__form-label {
  position: relative;
  top: -4rem;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(0,0,0,.4);
}

.newbook__form-label--1 {
  left: -8.1rem;
}

.newbook__form-label--2 {
  left: -10.4rem;
}

.newbook__form-label--3 {
  left: -8.9rem;
}

.newbook__form-input--1:placeholder-shown ~ .newbook__form-label--1,
.newbook__form-input--2:placeholder-shown ~ .newbook__form-label--2,
.newbook__form-input--3:placeholder-shown ~ .newbook__form-label--3 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(5rem);
}

.newbook__form-btn {
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  background-color: rgba(75,25,255,.8);
  color: white;
  border-radius: 20px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;
  display: block;
  margin-top: 3.5rem;
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.2);
  transition: all .2s;
}

.newbook__form-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.3rem 3rem rgba(0,0,0,.2);
}

.newbook__form-btn:active,
.newbook__form-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

/*FUNCTIONALITY*/

.newbook__checkbox:checked ~ .newbook__background {
  transform: scale(105);
}

.newbook__checkbox:checked ~ .newbook__form-container {
  opacity: 1;
  width: 100%;
}

  /*ICON*/
.newbook__icon {
  position: relative;
  margin-top: 3.5rem;
}

.newbook__icon,
.newbook__icon::before {
  width: 3rem;
  height: 3px;
  background-color: white;
  display: inline-block;
  transition: all .2s;
}

.newbook__icon::before {
  content: "";
  position: absolute;
  left: 0;  
}

.newbook__icon::before { 
  top: -.2rem;
  transform: rotate(90deg); 
}

.newbook__button:hover .newbook__icon::before,
.newbook__button:hover .newbook__icon {
  width: 3.5rem;
}

.newbook__checkbox:checked + .newbook__button .newbook__icon::before {
  top: 0; 
}

.newbook__checkbox:checked + .newbook__button .newbook__icon {
  transform: rotate(45deg);
}

.newbook__form-radio-header {
  font-size: 2rem;
  color: rgba(75,25,255,.8);
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-right: 3rem;
}

/* input */
.newbook__form-radio {
  display: none;
}

.newbook__form-radio-label--yes,
.newbook__form-radio-label--no {
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: rgba(0,0,0,.4);
  padding-left: 4rem;
  cursor: pointer;
  margin-top: 2.5rem;
  margin-right: 5rem;
}

.newbook__form-radio-btn--yes, 
.newbook__form-radio-btn--no {
  height: 3rem;
  width: 3rem;
  border: 5px solid rgba(75,25,255,.8);;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
}
 
.newbook__form-radio-btn--yes::after,
.newbook__form-radio-btn--no::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,50,180,.8);
  opacity: 0;
  transition: opacity .2s;
}

.newbook__form-radio#readYes:checked ~ .newbook__form-radio-label--yes .newbook__form-radio-btn--yes::after {
  opacity: 1;
}

.newbook__form-radio#readNo:checked ~ .newbook__form-radio-label--no .newbook__form-radio-btn--no::after {
  opacity: 1;
}