*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*This defines what 1rem is*/
  font-size: 62.5%;  /*10px wanted, 16px default size so 62.5%*/
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  background: white;
  cursor: pointer;
}

.main-container {
  width: 50%;
  min-width: 960px;
  margin: 100px auto;
  text-align: center;
}

.book-form {
  border: 1px solid black;
  border-radius: 2px;
  height: 260px;
  width: 20%;
  padding: 10px 10px 0 10px;
  margin: 0 auto;
  text-align: left;
}

.book-form input {
  margin: 5px 0;
}

.books-container {
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  overflow: hidden;
}

.book {
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  text-align: center;
}

.book button {
  margin: 0 5px;
}

.newbook__checkbox {
  display: none;
}

.newbook__button {
  background-color: $color-white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba($color-black, .1);
  text-align: center;
  cursor: pointer;
}

.newbook__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(blue, pink);
  z-index: 1000;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.newbook__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  width: 0;
  opacity: 0;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.newbook__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.newbook__item {
  margin: 1rem;
}

.newbook__link:link,
.newbook__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 240%;
  transition: all .4s;
}

.newbook__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.newbook__link:hover,
.newbook__link:active {
  background-position: 100%;
  color: orangered;
  transform: translateX(1rem);
}

/*FUNCTIONALITY*/

.newbook__checkbox:checked ~ .newbook__background {
  transform: scale(80);
}

.newbook__checkbox:checked ~ .newbook__nav {
  opacity: 1;
  width: 100%;
}

  /*ICON*/
.newbook__icon {
  position: relative;
  margin-top: 3.5rem;
}
.newbook__icon,
.newbook__icon::before,
.newbook__icon::after {
  width: 3rem;
  height: 2px;
  background-color: grey;
  display: inline-block;
}

.newbook__icon::before,
.newbook__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.newbook__icon::before { top: -.8rem; }
.newbook__icon::after { top: .8rem; }


.newbook__button:hover .newbook__icon::before {
  top: -1rem;
}

.newbook__button:hover .newbook__icon::after {
  top: 1rem;
}

.newbook__checkbox:checked + .newbook__button .newbook__icon {
  background-color: transparent;
}

.newbook__checkbox:checked + .newbook__button .newbook__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.newbook__checkbox:checked + .newbook__button .newbook__icon::after {
  top: 0;
  transform: rotate(-135deg);
}